<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EzPPPwn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EzPPPwn.Properties.Settings>
            <setting name="Firmware" serializeAs="String">
                <value>11.00</value>
            </setting>
            <setting name="Adapter" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoRetry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PPPwnBeta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GoldHEN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Stage2" serializeAs="String">
                <value />
            </setting>
        </EzPPPwn.Properties.Settings>
    </userSettings>
</configuration>